In [1]:
import pandas as pd
import numpy as np

In [2]:
onn = pd.read_csv("C:/data/L3Pilot/Katuverkko/wizard/StadiOnnJoin/StadiOnnJoinID/2014-2018StadiDist10CSV.csv", sep=";")

In [3]:
onn

,vvonn,kkonn,kello,vakav,onntyyppi,lkmhapa,lkmlaka,lkmjk,lkmpp,lkmmo,...,ra,la,mp,rv,syksyn_k,autot,raskas_o,pituus,ID,distance
0,2016,12,13.00-13.59,1,8,9,0,4,0,0,...,15,242,99,0,7885,7452,5,293,1,"1,95419761507449"
1,2016,6,18.00-18.59,2,2,2,0,0,0,0,...,15,242,99,0,7885,7452,5,293,1,",896915319672114"
2,2018,5,16.00-16.59,2,3,1,0,0,1,0,...,39,226,154,0,11721,11070,6,112,2,"4,43010723796565"
3,2018,7,13.00-13.59,2,0,1,1,0,0,0,...,110,75,228,0,31161,29401,2,294,6,"6,30247916386245"
4,2017,9,07.00-07.59,2,4,2,0,0,0,0,...,389,269,65,0,42940,40525,5,97,7,"6,2379083811855"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622,2016,4,08.00-08.59,2,9,0,1,0,1,0,...,0,0,0,0,106,100,0,115,6783,"2,44726836385341"
1623,2018,5,09.00-09.59,2,7,0,0,1,1,0,...,0,0,0,0,106,100,0,191,6797,"7,15755520365928"
1624,2016,4,16.00-16.59,2,1,1,0,0,1,0,...,0,0,0,0,106,100,0,253,6822,",136094429261759"
1625,2017,9,15.00-15.59,2,4,1,0,0,1,0,...,44,9,0,0,2344,2212,18,440,6867,",09620579212513"
1626,2017,11,15.00-15.59,2,4,2,0,0,0,0,...,0,0,0,0,1060,1000,1,131,6868,"2,21846767673684"

In [4]:
#onn["ID"] = list(range(1, len(onn)+1))

In [5]:
VRUs = onn["lkmjk"] + onn["lkmpp"]
onn["VRU"] = VRUs

In [19]:
idvalues = np.unique(onn["ID"])
idvector = list(idvalues)
#len(idvector)
#print(idvector)

[1, 2, 6, 7, 13, 14, 17, 21, 22, 24, 26, 28, 30, 31, 32, 33, 34, 37, 38, 39, 41, 42, 43, 44, 47, 52, 55, 58, 59, 61, 67, 68, 71, 74, 76, 77, 79, 80, 81, 82, 85, 90, 95, 96, 98, 100, 101, 102, 105, 106, 107, 108, 109, 110, 115, 116, 117, 118, 122, 123, 124, 126, 128, 129, 131, 134, 137, 142, 148, 150, 151, 153, 158, 160, 162, 163, 164, 165, 170, 171, 172, 174, 176, 178, 179, 180, 182, 184, 185, 186, 187, 188, 189, 191, 193, 194, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 219, 220, 222, 224, 225, 228, 229, 235, 237, 240, 241, 245, 246, 249, 250, 251, 253, 254, 256, 257, 263, 264, 266, 267, 268, 271, 273, 275, 278, 283, 284, 285, 286, 287, 288, 290, 292, 297, 298, 301, 302, 303, 304, 305, 307, 308, 309, 310, 311, 312, 314, 315, 316, 319, 321, 322, 323, 324, 325, 326, 327, 330, 333, 334, 335, 337, 339, 342, 344, 345, 346, 347, 348, 350, 354, 355, 356, 357, 359, 360, 361, 362, 363, 364, 365, 367, 368, 369, 371, 373, 375, 376, 377, 378, 379, 380, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 400, 401, 402, 404, 405, 407, 409, 410, 411, 412, 413, 414, 415, 416, 417, 419, 420, 421, 423, 424, 427, 428, 431, 432, 433, 435, 436, 439, 440, 443, 447, 449, 452, 455, 457, 461, 462, 463, 465, 467, 469, 470, 474, 475, 478, 480, 481, 483, 484, 485, 487, 488, 489, 490, 491, 492, 494, 495, 496, 497, 498, 499, 500, 501, 502, 504, 505, 507, 508, 510, 511, 513, 514, 517, 519, 521, 524, 525, 526, 528, 531, 532, 533, 534, 535, 536, 539, 540, 543, 546, 547, 548, 551, 552, 553, 554, 555, 556, 557, 562, 567, 570, 571, 574, 575, 576, 577, 579, 580, 582, 584, 587, 591, 592, 593, 595, 603, 604, 605, 611, 622, 623, 624, 633, 634, 635, 636, 637, 638, 640, 643, 644, 645, 647, 653, 654, 655, 656, 657, 658, 660, 661, 662, 664, 665, 666, 674, 675, 676, 679, 681, 682, 686, 687, 688, 693, 694, 696, 704, 706, 709, 716, 717, 722, 724, 725, 728, 730, 733, 734, 737, 738, 739, 740, 741, 746, 749, 753, 755, 758, 759, 760, 763, 764, 766, 767, 768, 769, 771, 772, 774, 776, 779, 780, 781, 783, 784, 786, 789, 790, 791, 792, 793, 794, 795, 796, 799, 800, 801, 802, 803, 804, 805, 807, 808, 818, 819, 823, 824, 831, 832, 836, 837, 838, 840, 843, 844, 845, 846, 848, 851, 852, 854, 855, 857, 859, 860, 861, 862, 865, 867, 870, 872, 873, 875, 876, 877, 879, 881, 883, 885, 886, 890, 891, 893, 895, 896, 897, 900, 901, 903, 904, 905, 907, 908, 909, 911, 912, 915, 917, 919, 920, 922, 923, 924, 925, 926, 927, 928, 930, 932, 935, 936, 938, 939, 940, 941, 942, 943, 944, 945, 964, 968, 969, 972, 973, 974, 975, 982, 984, 986, 989, 990, 991, 992, 993, 994, 997, 999, 1001, 1003, 1004, 1006, 1008, 1010, 1011, 1013, 1014, 1015, 1016, 1018, 1019, 1020, 1022, 1023, 1027, 1029, 1031, 1035, 1036, 1037, 1038, 1044, 1045, 1046, 1050, 1051, 1052, 1053, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1063, 1064, 1068, 1070, 1076, 1084, 1086, 1089, 1091, 1093, 1094, 1102, 1107, 1109, 1111, 1117, 1118, 1119, 1120, 1122, 1130, 1131, 1132, 1136, 1137, 1139, 1140, 1141, 1146, 1148, 1150, 1151, 1152, 1156, 1159, 1162, 1164, 1165, 1167, 1170, 1171, 1182, 1199, 1211, 1213, 1216, 1225, 1238, 1239, 1240, 1250, 1274, 1296, 1312, 1338, 1348, 1351, 1352, 1358, 1370, 1425, 1442, 1460, 1487, 1490, 1508, 1516, 1529, 1530, 1531, 1545, 1550, 1578, 1607, 1609, 1610, 1613, 1619, 1632, 1653, 1676, 1678, 1679, 1721, 1741, 1749, 1835, 1854, 1855, 1857, 1878, 1896, 1897, 1898, 1899, 1905, 1911, 1914, 1921, 1922, 1923, 1924, 1925, 1936, 1937, 1949, 2022, 2054, 2099, 2123, 2154, 2162, 2163, 2165, 2169, 2171, 2176, 2177, 2194, 2204, 2206, 2221, 2222, 2223, 2227, 2229, 2230, 2264, 2283, 2337, 2371, 2395, 2400, 2439, 2440, 2442, 2445, 2448, 2462, 2473, 2483, 2487, 2488, 2491, 2496, 2506, 2511, 2522, 2535, 2542, 2548, 2565, 2566, 2567, 2606, 2630, 2643, 2649, 2653, 2670, 2675, 2698, 2725, 2772, 2773, 2776, 2777, 2778, 2798, 2800, 2805, 2806, 2815, 2855, 2856, 2929, 2976, 3011, 3019, 3022, 3023, 3025, 3027, 3028, 3030, 3035, 3038, 3047, 3048, 3059, 3089, 3100, 3138, 3146, 3148, 3154, 3480, 3490, 3496, 3505, 3523, 3550, 3574, 3577, 3578, 3582, 3683, 3701, 3737, 3809, 3810, 3834, 3842, 3979, 3986, 3994, 3996, 3999, 4003, 4015, 4031, 4032, 4056, 4068, 4070, 4074, 4090, 4093, 4223, 4242, 4249, 4251, 4261, 4262, 4263, 4268, 4431, 4480, 4487, 4501, 4522, 4554, 4558, 4582, 4591, 4600, 4610, 4613, 4626, 4663, 4678, 4686, 4687, 4691, 4696, 4702, 4704, 4713, 4716, 4723, 4725, 4738, 4743, 4747, 4764, 4786, 4788, 4794, 4817, 4853, 4856, 4858, 4875, 4880, 4888, 4891, 4909, 4911, 4913, 4918, 4929, 4930, 4937, 4939, 4944, 4964, 4965, 5016, 5043, 5055, 5100, 5115, 5120, 5148, 5150, 5189, 5191, 5199, 5244, 5283, 5307, 5346, 5350, 5373, 5400, 5410, 5425, 5438, 5440, 5465, 5470, 5500, 5501, 5507, 5517, 5518, 5554, 5557, 5612, 5615, 5619, 5620, 5622, 5628, 5629, 5636, 5637, 5638, 5639, 5655, 5658, 5659, 5664, 5667, 5671, 5678, 5682, 5683, 5686, 5707, 5717, 5726, 5728, 5730, 5744, 5745, 5794, 5840, 5842, 5853, 5859, 5860, 5872, 5876, 5905, 6038, 6045, 6115, 6138, 6141, 6258, 6279, 6288, 6331, 6388, 6514, 6563, 6582, 6599, 6634, 6715, 6774, 6783, 6797, 6822, 6867, 6868]

In [7]:
grouped = onn.groupby("ID")

In [18]:
len(grouped)

949

In [21]:
grouped.get_group(idvector[0])

,vvonn,kkonn,kello,vakav,onntyyppi,lkmhapa,lkmlaka,lkmjk,lkmpp,lkmmo,...,la,mp,rv,syksyn_k,autot,raskas_o,pituus,ID,distance,VRU
0,2016,12,13.00-13.59,1,8,9,0,4,0,0,...,242,99,0,7885,7452,5,293,1,"1,95419761507449",4
1,2016,6,18.00-18.59,2,2,2,0,0,0,0,...,242,99,0,7885,7452,5,293,1,",896915319672114",0

In [9]:
#idvalues = onn['ID'].nunique()
#idvector = list(range(1, idvalues+1))
#len(idvector)

In [10]:
colnames = ["ID", "Section", "Type", "Length (km)", "ADT", "All injury acc", "Head-on", "VRU", "Other"]
df = pd.DataFrame(columns = colnames)
df["ID"] = idvector

In [11]:
#print(idvector)

In [12]:
#erionntyyp = np.count_nonzero(grp["onntyyppi"])
#erionntyyplist = list(range(0, (test+1)))
#print(erionntyyplist)

In [14]:
# Create empty vectors. These will be filled with accidents of specified type and added to final dataframe
OtherVectorFinal = []
VRUVectorFinal = []
HeadOnVectorFinal = []
AllInjuryFinal = []
ContainsVRUFinal = []
isjkpp = []

# Create empty vectors for vehicle counts
katu = []
ha = []
pa = []
ka = []
ra = []
la = []
mp = []
#pp = []
rv = []
autot = []
syksyn_k = []
pituus = []
distance = []

columnlist = ["ha", "pa", "ka", "ra", "la", "mp", "rv", "autot", "syksyn_k", "pituus", "katu", "distance"]
columnlistobj = [ha, pa, ka, ra, la, mp, rv, autot, syksyn_k, pituus, katu, distance]

# Iterate over groups (road IDs)
#for i in range(1, (idvalues+1)):
for i in idvector:
    
    # reset vectors
    OtherVector = []
    VRUVector = []
    HeadOnVector = []
    ContainsVRU = []
    
    # access road's accident types
    grp = grouped.get_group(i)
    grp = grp.reset_index()
    #grp = grp.to_frame()
    grp = grp[["onntyyppi", "lkmjk", "lkmpp", "VRU", "katu", "ha", "pa", "ka", "ra", "la", "mp", "rv", "autot", "syksyn_k", "pituus", "distance"]] # Insert colnames with road name + ADT stuff here
    #print(grp)
    
    #add necessary cols
    for x in range(1, len(columnlist)):
        columnlistobj[x].append(grp[columnlist[x]].iloc[0])

    # save road's accident types to vectors [smarter way to do this?]
    occurrencesZero = np.count_nonzero(grp["onntyyppi"] == 0)
    OtherVector.append(occurrencesZero)
    occurrencesOne = np.count_nonzero(grp["onntyyppi"] == 1)
    OtherVector.append(occurrencesOne)
    occurrencesTwo = np.count_nonzero(grp["onntyyppi"] == 2)
    HeadOnVector.append(occurrencesTwo)
    occurrencesThree = np.count_nonzero(grp["onntyyppi"] == 3)
    HeadOnVector.append(occurrencesThree)
    occurrencesFour = np.count_nonzero(grp["onntyyppi"] == 4)
    OtherVector.append(occurrencesFour)
    occurrencesFive = np.count_nonzero(grp["onntyyppi"] == 5)
    OtherVector.append(occurrencesFive)
    occurrencesSix = np.count_nonzero(grp["onntyyppi"] == 6)
    OtherVector.append(occurrencesSix)
    occurrencesSeven = np.count_nonzero(grp["onntyyppi"] == 7)
    OtherVector.append(occurrencesSeven)
    occurrencesEight = np.count_nonzero(grp["onntyyppi"] == 8)
    OtherVector.append(occurrencesEight)
    occurrencesNine = np.count_nonzero(grp["onntyyppi"] == 9)
    OtherVector.append(occurrencesNine)
    
    #check for pp/jk
    for j in range(0, len(grp)):
        if (grp.at[j, "VRU"] >= 1):
            if (grp.at[j, "onntyyppi"] == 2 or grp.at[j, "onntyyppi"] == 3):
                VRUVector.append(1)
                HeadOnVector.append(-1)
            else:
                VRUVector.append(1)
                OtherVector.append(-1)
    totalVRUheadon = sum(isjkpp)
    VRUVector.append(totalVRUheadon)
    
    # sum accident types for road being looped
    HeadOnRoad = sum(HeadOnVector)
    VRURoad = sum(VRUVector)
    OtherRoad = sum(OtherVector)
    AllInjury = (HeadOnRoad+VRURoad+OtherRoad)
    JKPP = sum(ContainsVRU)
    
    # Add sums to final vectors
    HeadOnVectorFinal.append(HeadOnRoad)
    VRUVectorFinal.append(VRURoad)
    OtherVectorFinal.append(OtherRoad)
    AllInjuryFinal.append(AllInjury)
    ContainsVRUFinal.append(JKPP)
    
    

    
#Add final vectors to df
df["Head-on"] = HeadOnVectorFinal
df["VRU"] = VRUVectorFinal
df["Other"] = OtherVectorFinal
df["All injury acc"] = AllInjuryFinal

for i in range(1, len(columnlist)):
    df[columnlist[i]] = columnlistobj[i]
    
#ADT and length
df["ADT"] = df["syksyn_k"]
df["Length (km)"] = df["pituus"]/1000 # if length given in meters
df["Section"] = df["katu"]
df = df.drop(["syksyn_k"], axis=1)
df = df.drop(["katu"], axis=1)


df

,ID,Section,Type,Length (km),ADT,All injury acc,Head-on,VRU,Other,pa,ka,ra,la,mp,rv,autot,pituus,distance
0,1,SIILITIE,NaN,0.293,7885,2,1,1,0,852,178,15,242,99,0,7452,293,"1,95419761507449"
1,2,VIILARINTIE,NaN,0.112,11721,1,0,1,0,1425,405,39,226,154,0,11070,112,"4,43010723796565"
2,6,MERIPELLONTIE,NaN,0.294,31161,1,0,0,1,3240,669,110,75,228,0,29401,294,"6,30247916386245"
3,7,KEH+Â´+Â¢ 1,NaN,0.097,42940,2,0,0,2,4352,1566,389,269,65,0,40525,97,"6,2379083811855"
4,13,IT+Â´+Â¢ V+Â´+Â¢ YL+Â´+Â¢,NaN,0.396,18301,5,0,0,5,2029,1401,177,349,32,0,17285,396,"1,10642224576951"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944,6783,Arielinkatu,NaN,0.115,106,1,0,1,0,0,0,0,0,0,0,100,115,"2,44726836385341"
945,6797,Kyl+Â´+Â¢Ã”Ã‡Ã–+Â´+Â¢-Â´+Â¢saarenkuja,NaN,0.191,106,1,0,1,0,0,0,0,0,0,0,100,191,"7,15755520365928"
946,6822,Leonkatu,NaN,0.253,106,1,0,1,0,0,0,0,0,0,0,100,253,",136094429261759"
947,6867,KYL+Â´+Â¢ SAARENKATU,NaN,0.440,2344,1,0,1,0,459,365,44,9,0,0,2212,440,",09620579212513"
948,6868,AGROKSEN KUJA,NaN,0.131,1060,1,0,0,1,100,100,0,0,0,0,1000,131,"2,21846767673684"

In [ ]:
len(katu)

In [ ]:
df["VRU"]

In [ ]:
# Is number of accidents same?
sum(df["All injury acc"]) == len(onn)

In [15]:
df.to_csv('katuverkkoproto.csv')