In [1]:
import pandas as pd
import numpy as np

In [2]:
onn = pd.read_csv("C:/data/L3Pilot/ScriptTest/Pyth/OnntestCSV.csv", sep=";")

In [3]:
onn

,vvonn,ID,kkonn,kello,vakav,onntyyppi,lkmhapa,lkmlaka,lkmjk,lkmpp,lkmmo,lkmmp,lkmmuukulk
0,2018,3,1,17.00-17.59,2,8,1,0,0,0,0,0,0
1,2018,8,1,20.00-20.59,2,8,2,0,0,0,0,0,0
2,2018,8,1,17.00-17.59,2,4,1,0,0,1,0,0,0
3,2018,5,1,03.00-03.59,2,9,1,0,1,0,0,0,0
4,2018,2,1,12.00-12.59,2,0,4,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2018,6,5,16.00-16.59,2,3,1,0,0,1,0,0,0
106,2018,8,5,18.00-18.59,2,0,1,1,0,0,0,0,0
107,2018,6,5,20.00-20.59,2,1,1,0,0,1,0,0,0
108,2018,4,5,07.00-07.59,2,0,2,0,0,0,0,0,0
109,2018,1,5,18.00-18.59,2,4,0,1,0,1,0,0,0

In [4]:
VRUs = onn["lkmjk"] + onn["lkmpp"]
onn["VRU"] = VRUs

In [5]:
grouped = onn.groupby("ID")

In [6]:
grouped.get_group(1)

,vvonn,ID,kkonn,kello,vakav,onntyyppi,lkmhapa,lkmlaka,lkmjk,lkmpp,lkmmo,lkmmp,lkmmuukulk,VRU
30,2018,1,2,13.00-13.59,2,0,2,0,0,0,0,0,0,0
48,2018,1,3,09.00-09.59,2,9,1,1,0,0,0,0,0,0
51,2018,1,3,15.00-15.59,3,8,1,0,0,0,0,0,0,0
66,2018,1,4,13.00-13.59,2,8,1,0,0,0,0,0,0,0
69,2018,1,4,16.00-16.59,2,0,4,1,0,0,0,0,0,0
73,2018,1,4,18.00-18.59,2,0,3,0,0,0,0,0,0,0
82,2018,1,4,10.00-10.59,2,0,1,1,0,0,0,0,0,0
87,2018,1,4,11.00-11.59,2,8,1,0,0,0,0,0,0,0
88,2018,1,4,08.00-08.59,2,0,2,0,0,0,0,0,0,0
109,2018,1,5,18.00-18.59,2,4,0,1,0,1,0,0,0,1

In [7]:
idvalues = onn['ID'].nunique()
idvector = list(range(1, idvalues+1))
len(idvector)

10

10

In [8]:
colnames = ["ID", "Section", "Type", "Length (km)", "ADT", "All injury acc", "Head-on", "VRU", "Other"]
df = pd.DataFrame(columns = colnames)
df["ID"] = idvector

In [9]:
#print(idvector)

In [10]:
#erionntyyp = np.count_nonzero(grp["onntyyppi"])
#erionntyyplist = list(range(0, (test+1)))
#print(erionntyyplist)

In [11]:
# Create empty vectors. These will be filled with accidents of specified type and added to final dataframe
OtherVectorFinal = []
VRUVectorFinal = []
HeadOnVectorFinal = []
AllInjuryFinal = []
ContainsVRUFinal = []
isjkpp = []
# Iterate over groups (road IDs)
for i in range(1, (idvalues+1)):
    
    # reset vectors
    OtherVector = []
    VRUVector = []
    HeadOnVector = []
    ContainsVRU = []
    
    # access road's accident types
    grp = grouped.get_group(i)
    grp = grp.reset_index()
    #grp = grp.to_frame()
    grp = grp[["onntyyppi", "lkmjk", "lkmpp", "VRU"]] 
    #print(grp)
    
    # save road's accident types to vectors [smarter way to do this?]
    occurrencesZero = np.count_nonzero(grp["onntyyppi"] == 0)
    OtherVector.append(occurrencesZero)
    occurrencesOne = np.count_nonzero(grp["onntyyppi"] == 1)
    OtherVector.append(occurrencesOne)
    occurrencesTwo = np.count_nonzero(grp["onntyyppi"] == 2)
    HeadOnVector.append(occurrencesTwo)
    occurrencesThree = np.count_nonzero(grp["onntyyppi"] == 3)
    HeadOnVector.append(occurrencesThree)
    occurrencesFour = np.count_nonzero(grp["onntyyppi"] == 4)
    OtherVector.append(occurrencesFour)
    occurrencesFive = np.count_nonzero(grp["onntyyppi"] == 5)
    OtherVector.append(occurrencesFive)
    occurrencesSix = np.count_nonzero(grp["onntyyppi"] == 6)
    OtherVector.append(occurrencesSix)
    occurrencesSeven = np.count_nonzero(grp["onntyyppi"] == 7)
    OtherVector.append(occurrencesSeven)
    occurrencesEight = np.count_nonzero(grp["onntyyppi"] == 8)
    OtherVector.append(occurrencesEight)
    occurrencesNine = np.count_nonzero(grp["onntyyppi"] == 9)
    OtherVector.append(occurrencesNine)
    
    #check for pp/jk
    for j in range(0, len(grp)):
        if (grp.at[j, "VRU"] >= 1):
            if (grp.at[j, "onntyyppi"] == 2 or grp.at[j, "onntyyppi"] == 3):
                VRUVector.append(1)
                HeadOnVector.append(-1)
            else:
                VRUVector.append(1)
                OtherVector.append(-1)
        #else:
            #isjkpp.append(0)
    totalVRUheadon = sum(isjkpp)
    VRUVector.append(totalVRUheadon)
    
    # sum accident types for road being looped
    HeadOnRoad = sum(HeadOnVector)
    VRURoad = sum(VRUVector)
    OtherRoad = sum(OtherVector)
    AllInjury = (HeadOnRoad+VRURoad+OtherRoad)
    JKPP = sum(ContainsVRU)
    
    # Add sums to final vectors
    HeadOnVectorFinal.append(HeadOnRoad)
    VRUVectorFinal.append(VRURoad)
    OtherVectorFinal.append(OtherRoad)
    AllInjuryFinal.append(AllInjury)
    ContainsVRUFinal.append(JKPP)
    

    
#Add final vectors to df
df["Head-on"] = HeadOnVectorFinal
df["VRU"] = VRUVectorFinal
df["Other"] = OtherVectorFinal
df["All injury acc"] = AllInjuryFinal

df

   ID Section Type Length (km)  ADT  All injury acc  Head-on  VRU  Other
0   1     NaN  NaN         NaN  NaN              10        0    1      9
1   2     NaN  NaN         NaN  NaN              11        1    2      8
2   3     NaN  NaN         NaN  NaN              14        0    4     10
3   4     NaN  NaN         NaN  NaN              10        2    3      5
4   5     NaN  NaN         NaN  NaN              12        0    4      8
5   6     NaN  NaN         NaN  NaN               9        0    6      3
6   7     NaN  NaN         NaN  NaN               9        0    4      5
7   8     NaN  NaN         NaN  NaN              15        1    7      7
8   9     NaN  NaN         NaN  NaN              10        0    5      5
9  10     NaN  NaN         NaN  NaN              10        0    6      4

In [12]:
sum(df["VRU"])

42

In [13]:
# Is number of accidents same?
sum(df["All injury acc"]) == len(onn)

True

In [14]:
df.to_csv('examplescript2.csv')